/**
 * Base definitions
 */
body{
	background-color: #f4f4f4;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
}
a{
	color: #2ecc71;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 300;
}
h1{
	font-size: 3.5em;
}

#layout{
	max-width: 485px;
	margin: 0 auto;
	padding: 50px 0;
}

#page-header h1, h2{
	padding: 0;
	margin: 0;
}

#page-footer{
	margin-top: 28px;
}

#contact{
	font-size: 16px;
}

/**
 * Blurb Component
 */

.blurb{
	margin-top: 28px;
}

.blurb__section{
	display: flex;
	align-items: center;
	position: relative;
	background-color: #9b59b6;
	color: #fff;
	border: 0;
	padding: 2.0rem 1.5rem;
	font-size: 18px;
}

.blurb__section::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 16px 16px 0;
  	border-style: solid;
  	border-color: rgba(0,0,0,0.20) #f4f4f4;
}

.blurb__section--secondary{
	background-color: #f39c12;
}

.blurb__icon{
	color: rgba(0,0,0,0.22);
	font-size: 2.5rem;
	margin-right: 1.5rem;
}

.blurb__text{
	line-height: 2.5rem;
}

/**
 * Chip Component
 */

.chip-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0px;
	flex-wrap: wrap;
}

.chip-list__col{
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	list-style-type: none;
	padding: 0 0px;
	margin: 0;
	flex-basis: 48%;
	flex-wrap: wrap;
}

.chip-list__chip a, .chip-list__chip a:visited{
	padding: 4px 8px;
	display: block;
	width: 100%;
	background-color: #eee;
	color: #333;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}
.chip-list__chip a:hover{
	color: #8e44ad;
	text-decoration: none;
}
.chip-list__chip span{
	color: #333;
	display: inline-block;
	margin-right: 8px;
}
.chip-list__chip:last-child a{
	border: 0;
}

/**
 * Helpers
 */

.inline-block{
	display: inline-block;
}

/**
 * Media queries
 */

@media (max-width: 768px){
	#layout{
		padding: 10px 0;
	}
	.link-list a{
		border: 0;
	}
}

@media (max-width: 768px){
	/* set basis to fill entire container */
	.chip-list__col{
		flex-basis: 100%;
	}
	/* keep border for all items */
	.chip-list__chip:last-child a{
		border-bottom: 1px solid #ccc;
	}
}
/**
 * Animations
 */

.animated{
	animation-duration: .55s;
	animation-timing-function: ease;
	display: none;
}

.animated--slide{
	animation-name: slideInDown;
	display: block;
}

@keyframes slideInDown {
  	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

.animated--fade{
	animation-name: fadeIn;
	display: block;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
